body {
  background: #F5F5F5;
  margin-top: 50px;
}

.c-button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  width: 120px;
  position: relative;
  left: 80px;
}

.c-button:hover {
  background: #1d49aa;
}

.c-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

textarea {
  resize: none;
  outline: none;
  border: 0;
}

.col1 {
  cursor: default;
}

.col2 {
  border-radius: 15px;
  background: #fff;
  font-size: 16px;
  border: solid #7d7f7d 2px;
  height: 150px;
  padding: 1rem;
  margin-bottom: 1.7rem;
 }

main {
  display: flex;
  margin-top: 45px;
  margin-right: 120px;
  margin-left: 120px;
}

.two-rectangles {
  margin-top: 35px;
  width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.rectangle {
  border-radius: 15px;
  background: #fff;
  width: 100%;
  min-width: 600px;
  margin-left: 70px;
  margin-top: 35px;
  border: solid #7d7f7d 2px;
  height: 500px;
  font-size: 16px;
  padding: 1rem;
  box-sizing: border-box;
}

.font {
  font-family: Verdana, sans-serif;
}

.titles {
  line-height: 20px;
  font-family: Verdana, sans-serif;
  margin-left: 60px;
}